
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">GYM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto text-center" style="margin-left: 5vh">
      <li class="nav-item active">
          <a class="nav-link" style="" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{% url 'client' %}">Client</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'equipement' %}">Equipement</a>
      </li>
    </ul>
    <a class="btn btn-secondary" style="" href="{% url 'logout' %}" type="submit">Deconnexion</a>

  </div>
</nav>